
<ul class="d-flex flex-wrap list-unstyled text-white">
    <li class="col-6 col-lg-3 ai-info position-relative">
      <img class="img-fluid" src="../assets/images/index/diane/diane_vertical.png" alt="diane">
      <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-12 p-lg-40 d-flex flex-column pt-24">
        <span class="number font-saira text-center font-400px">1</span>
        <p class="font-shrikhand text-center fs-3 mb-auto">Diane</p>
        <p class="fw-bold noto">知識型</p>
        <div class="d-flex flex-wrap flex-lg-nowrap">
          <p class="w-100 w-lg-50 mb-0 noto">學術領導/知識分享/智能問答</p>
          
          <a href="#" class="w-50 stretched-link">
            <img src="../assets/images/direction/arrow_short.png" alt="arrot">
          </a>
        </div>
      </div>
    </li>
    <li class="col-6 col-lg-3 ai-info position-relative">
      <img class="img-fluid" src="../assets/images/index/felix/felix_vertical.png" alt="felix">
      <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-12 p-lg-40 d-flex flex-column pt-24">
        <span class="number font-saira text-center font-400px">2</span>
        <p class="font-shrikhand text-center fs-3 mb-auto">Felix</p>
        <p class="fw-bold noto">娛樂型</p>
        <div class="d-flex flex-wrap flex-lg-nowrap">
          <p class="w-100 w-lg-50 mb-0 noto">音樂播放/語音互動/遊戲陪伴</p>
          
          <a href="#" class="w-25 stretched-link">
            <img src="../assets/images/direction/arrow_short.png" alt="arrot">
          </a>
        </div>
      </div>
    </li>
    <li class="col-6 col-lg-3 ai-info position-relative">
      <img class="img-fluid" src="../assets/images/index/karina/karina_verticalgle.png" alt="karina">
      <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-12 p-lg-40 d-flex flex-column pt-24">
        <span class="number font-saira text-center font-400px">3</span>
        <p class="font-shrikhand text-center fs-3 mb-auto">Karina</p>
        <p class="fw-bold noto">生活型</p>
        <div class="d-flex flex-wrap flex-lg-nowrap">
          <p class="w-100 w-lg-50 mb-0 noto">健康提醒/日程安排/智能家居</p>
          
          <a href="#" class="w-25 stretched-link">
            <img src="../assets/images/direction/arrow_short.png" alt="arrot">
          </a>
        </div>
      </div>
    </li>
    <li class="col-6 col-lg-3 ai-info position-relative">
      <img class="img-fluid" src=" https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_vertical.png?raw=true" alt="VITO">
      <div class="aiintro-card-content position-absolute start-0 end-0 top-0 bottom-0 p-12 p-lg-40 d-flex flex-column pt-24">
        <span class="number font-saira text-center d-inline-block font-400px">4</span>
        <p class="font-shrikhand text-center fs-3 mb-auto">Vito</p>
        <p class="fw-bold noto">情感型</p>
        <div class="d-flex flex-wrap flex-lg-nowrap">
          <p class="w-100 w-lg-50 mb-0 noto">情感識別/心情分析/心靈支持</p>
          
          <a href="#" class="w-25 stretched-link">
            <img src="../assets/images/direction/arrow_short.png" alt="arrot">
          </a>
        </div>
      </div>
    </li>
  </ul>