<div class="container pt-48 pt-lg-160 ">
    <div class="d-flex flex-lg-nowrap flex-wrap justify-content-center">
        <div class="col-lg-5">
            <h2 class="h3 noto font-letter-spacing-48px ">聯絡我們</h2>
            <div class="mt-20 mt-lg-32">
                <img src="../assets/images/decoration/circle_white.png" alt="circle">
                <span class="border rounded-5 border-5 ms-8 d-inline-block bg-white h-12px w-124px"></span>
            </div>
            <div class="noto mt-35 mt-lg-54">
                <p class="mb-0">
                    讓科技成為您的最佳夥伴
                </p>
                <p>
                    立即體驗神奇功能並享限時優惠！
                </p>
            </div>

        </div>
        <div class="col-lg-7">
            <div>
                <span class="material-symbols-outlined display-1">
                    emergency
                </span>
            </div>
            <form>
                <input type="email" class="form-control rounded-0 noto font-purple mt-16" placeholder="EMAIL">
                <textarea class="form-control rounded-0 noto font-purple mt-16 h-120px"
                    placeholder="COMMENT"></textarea>
                <div class=" d-flex justify-content-end w-100">
                    <button type="submit" class="btn btn-primary-100 noto text-white py-8 mt-16">
                        <div class="px-120"><img src="../assets/images/index/others/point_scan_white.png"
                                alt="point_scan" class="me-4 " />送出</div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>