<footer class="d-flex justify-content-lg-between flex-wrap flex-column flex-lg-row p-lg-50 p-40">
    <section class="d-flex flex-column justify-content-center">
        <h3 class="h4 text-dark mb-0">
            ALPHABOX+
        </h3>
        <p class="text-dark noto bold d-none d-lg-block">
            Copyright © 2023 Hexschool.
        </p>
    </section>
    <div>
        <span class="material-symbols-outlined display-1 text-dark">
            emergency
            </span>
    </div>
    <ul class="list-unstyled text-dark noto d-flex flex-wrap flex-column flex-lg-row align-items-lg-center">
        <li class=""><a href="#" class="text-dark">關於我們</a></li>
        <li class="ms-lg-24 ms-0"><a href="#" class="text-dark">產品資訊</a></li>
        <li class="ms-lg-24 ms-0"><a href="#" class="text-dark">常見問題</a></li>
        <li class="ms-lg-24 ms-0"><a href="#" class="text-dark">隱私政策</a></li>
    </ul>
    <p class="text-dark noto bold d-block d-lg-none">
        Copyright © 2023 Hexschool.
    </p>
</footer>