<!-- main start -->
<!-- info start -->
<div class="container-fluid">
  <div class="row px-lg-80 d-flex flex-column-reverse flex-lg-row">
    <div class="col-3 noto d-flex align-items-end align-self-end border-bottom border-1 pb-8 d-none d-lg-block">
      最新消息！新版本 v15.4 釋出，搶先體驗！
    </div>
    <div class="col-2 d-none d-lg-block"></div>
    <div class="col-12 col-lg-2 mt-56 d-flex justify-content-center flex-wrap">
      <img src="../assets/images/direction/circle.png" alt="circle" width="196" height="196" class="alphaboxCircle">
    </div>
    <div class="col-2 d-none d-lg-block"></div>
    <div class="col-12 col-md-3 noto bold mt-56 border-top border-1 pt-8">
      ALPHABOX+ STUDIO
      <p class="h-100 d-lg-flex align-items-end font-purple d-none d-lg-block">
        Copyright © 2023 Hexschool.
      </p>
    </div>
  </div>
  <div class="container-fluid mt-56">
    <div class="row px-lg-80">
      <div class="col-lg-3 d-none d-lg-block"></div>
      <div class="col-lg-6 col-12">
        <p class="h4 font-letter-spacing-80px text-center">ALPHABOX+</p>
        <p class="noto font-letter-spacing-16px text-center mb-0">
          擁抱未來科技，專屬您的3D立體投影陪伴機器人
        </p>
      </div>
      <div class="col-lg-3 d-none d-lg-block"></div>
    </div>
  </div>
  <!-- info end -->

  <!-- infoCard start -->
</div>
<div class="infoCard container-fluid mt-n56">
  <ul class="px-lg-80 d-flex list-unstyled flex-wrap flex-lg-nowrap align-items-end">
    <li class="w-25 p-0 shadow-card me-12 position-relative">
      <img src="../assets/images/index/diane/diane.png" alt="diane">
      <span class="position-absolute start-0 w-100 mt-16 h4 text-center">Diane</span>
    </li>
    <li class="w-25 shadow-card mx-12 h-80p position-relative"><img src="../assets/images/index/felix/felix.png"
        alt="felix">
      <span class="position-absolute start-0 w-100 mt-16 h4 text-center">felix</span>
    </li>
    <li class="w-25 shadow-card mx-12 position-relative"> <img src="../assets/images/index/karina/karina.png"
        alt="karina">
      <span class="position-absolute start-0 w-100 mt-16 h4 text-center">karina</span>
    </li>
    <li class="w-25 p-0 ms-12 position-relative"> <img src="../assets/images/index/vito/vito.png" alt="vito"
        class="shadow-card"> <span class="position-absolute start-0 w-100 mt-16 h4 text-center">vito</span>
    </li>
  </ul>
</div>
<!-- infoCard end -->
<!-- main end -->