<!-- news start -->
<div class="container pt-48 pt-lg-160">
    <h2 class="h3 noto font-letter-spacing-48px">最新消息</h2>
    <ul class="d-flex flex-wrap list-unstyled mt-32 mt-lg-40">
        <li class="border-1 border border-start-0 border-end-0 py-40 w-100 px-16">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined pe-16">
                    emergency
                </span>
                <p class='font-letter-spacing-16px my-auto'>
                    2023.06.30
                </p>
            </div>
            <section class="mt-8">
                <h3 class="h5 text-white noto font-letter-spacing-20px">
                    產品升級公告
                </h3>
                <div class="d-flex flex-wrap">
                    <p class="noto col-lg-9">
                        榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                    </p>
                    <div class="offset-1 d-none d-lg-block"></div>
                    <div class="col-lg-2 col-6">
                        <a href="#"><img src="../assets/images/direction/arrow.png" alt="arrow"></a>
                    </div>
                </div>
            </section>
        </li>
        <li class="w-50 border border-1 border-top-0 border-start-0 py-40 px-16">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined pe-16">
                    emergency
                </span>
                <p class='font-letter-spacing-16px my-auto'>
                    2023.06.30
                </p>
            </div>
            <section class="mt-8">
                <h3 class="h5 text-white noto font-letter-spacing-20px">
                    限時優惠活動
                </h3>
                <div class="d-flex flex-wrap">
                    <p class="noto col-12">
                        為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                    </p>
                    <div>
                        <a href="#"><img src="../assets/images/direction/arrow_short.png" alt="arrow"></a>
                    </div>
                </div>
            </section>
        </li>
        <li class="w-50 w-50 border border-1 border-top-0 border-start-0 border-end-0 py-40 px-16">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined pe-16">
                    emergency
                </span>
                <p class='font-letter-spacing-16px my-auto'>
                    2023.04.18
                </p>
            </div>
            <section class="mt-8">
                <h3 class="h5 text-white noto font-letter-spacing-20px">
                    新功能上線
                </h3>
                <div class="d-flex flex-wrap">
                    <p class="noto col-12">
                        為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                    </p>
                    <div>
                        <a href="#"><img src="../assets/images/direction/arrow_short.png" alt="arrow"></a>
                    </div>
                </div>
            </section>
        </li>
    </ul>
    <div class="d-flex align-items-center justify-content-center mt-40 mt-lg-76">
        <img src="../assets/images/direction/more.png" alt="more">
    </div>
    <p class="noto text-end mt-96 d-none d-lg-block">
        為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
    </p>
</div>
<!-- news end -->
