<!-- share start -->
<div class="container pt-120 pt-lg-160">
    <div class="d-flex align-items-center flex-wrap">
        <h2 class="h3 noto font-letter-spacing-48px col-lg-6">使用分享</h2>
        <p class="noto bold mt-16 d-block d-lg-none col-12">
            01 －　04
        </p>
        <p class="col-lg-6 noto h-100 my-auto">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
    </div>
    <p class="noto bold mt-16 d-none d-lg-block">
        01 －　04
    </p>
    <div class="mt-24 mt-lg-40">
        <span class="material-symbols-outlined display-1">
            emergency
        </span>
    </div>
    <ul class="list-unstyled overflow-auto d-flex justify-content-stretch gap-4 mt-16 mt-lg-24 flex-wrap flex-lg-nowrap">
        <li class="col-lg-4 primary-200 p-40">
            <p class="noto">Zona <img src="../assets/images/decoration/small_circle.png" alt="circle"> Taipei</p>
            <p class="noto bold">
                ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
            <div class="mt-120 mt-lg-140">
                <img src="../assets/images/decoration/circle_white.png" alt="circle" width="16" height="16">
                <img src="../assets/images/decoration/circle_white.png" alt="circle" width="16" height="16"
                    class="ms-16">
                <span class="ms-16">ALPHABOX+ Dianne</span>
            </div>
        </li>
        <li class="col-lg-4 bg-white p-40">
            <p class="noto text-dark">Lin <img src="../assets/images/decoration/small_circle_black.png" alt="circle">
                Chiayi</p>
            <p class="noto bold text-dark">
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
            </p>
            <div class="mt-120 mt-lg-140">
                <img src="../assets/images/decoration/circle_black.png" alt="circle" width="16" height="16">
                <img src="../assets/images/decoration/circle_black.png" alt="circle" width="16" height="16"
                    class="ms-16">
                <span class="ms-16 text-dark">ALPHABOX+ Felix</span>
            </div>
        </li>
        <li class="col-lg-4 primary-200 p-40">
            <p class="noto">云 <img src="../assets/images/decoration/small_circle.png" alt="circle"> Taipei</p>
            <p class="noto bold">
                我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
            </p>
            <div class="mt-120 mt-lg-140">
                <img src="../assets/images/decoration/circle_white.png" alt="circle" width="16" height="16">
                <img src="../assets/images/decoration/circle_white.png" alt="circle" width="16" height="16"
                    class="ms-16">
                <span class="ms-16">ALPHABOX+ Dianne</span>
            </div>
        </li>
        <li class="col-lg-4 bg-white p-40">
            <p class="noto text-dark">Zichi <img src="../assets/images/decoration/small_circle_black.png" alt="circle">
                Kaohsiung</p>
            <p class="noto bold text-dark">
                讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
            </p>
            <div class="mt-120 mt-lg-140">
                <img src="../assets/images/decoration/circle_black.png" alt="circle" width="16" height="16">
                <img src="../assets/images/decoration/circle_black.png" alt="circle" width="16" height="16"
                    class="ms-16">
                <span class="ms-16 text-dark">ALPHABOX+ Vito</span>
            </div>
        </li>
    </ul>
    <div class="d-none d-lg-block mt-48 position-relative d-flex flex-nowrap">
        <div class="col-8 border rounded-5 opacity-08">
        </div>
        <span class="position-absolute border border-1 w-50 opacity-10 top-0 bg-whit "></span>
        <div class="position-absolute start-customize-68 translate-middle-y ">
            <span class="noto">SCROLL</span>
        </div>
    </div>
</div>
<!-- share end -->